@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

section {
  padding: 50px 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.text-uppercase {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.8rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

.text-bold {
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.button-1 {
  padding: 20px 50px;
  border-radius: 5rem;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
}

.button-1:hover {
  background-color: white;
  color: black;
}

.button-2 {
  padding: 20px 50px;
  border-radius: 5rem;
  background: transparent;
  border: 2px solid black;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
}

.button-2:hover {
  background-color: black;
  color: white;
}

/* =============HERO SECTION=============== */

.hero-section {
  background-image: url(./images/background-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

@media screen and (max-width: 500px) {
  .hero-section {
    justify-content: flex-start;
    align-items: center;
  }
}

.hero-container {
  max-width: 50%;
}

@media screen and (max-width: 400px) {
  .hero-container {
    max-width: 100% !important;
  }
}

.hero-container h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 8.1rem;
  font-weight: 900;
  line-height: 7rem;
}

@media screen and (max-width: 800px) {
  .hero-container h1 {
    font-size: 6rem;
    line-height: normal;
  }
}
@media screen and (max-width: 600px) {
  .hero-container h1 {
    font-size: 4rem;
    line-height: normal;
  }
}

@media screen and (max-width: 400px) {
  .hero-container h1 {
    font-size: 3.5rem;
    line-height: normal;
  }
}

.hero-container .p-big-size {
  font-family: "Montserrat", sans-serif;
  font-size: 1.9rem;
  letter-spacing: 0.7rem;
}

@media screen and (max-width: 400px) {
  .hero-container .p-big-size {
    font-size: 1.5rem;
  }
}

.hero-container-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  margin-top: 6rem;
}

@media screen and (max-width: 1100px) {
  .hero-container-flex {
    flex-wrap: wrap;
  }
}

.hero-container-flex p {
  line-height: 2rem;
}
.hero-container-flex p a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid orange;
}
/* ===============BAKING SECTION============= */

.heading-text {
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 350px) {
  .heading-text {
    font-size: 2.5rem;
  }
}

.baking-container-wrapper {
  margin-top: 4rem;
}

.baking-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 40px;
}

@media screen and (max-width: 991px) {
  .baking-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 575px) {
  .baking-grid {
    grid-template-columns: 1fr;
    padding: 30px;
  }
}

.baking-flex {
  display: flex;
  gap: 20px;
}

.baking-flex .baking-image {
  height: 65px;
  width: 65px;
}

.baking-desc {
  margin-top: 20px;
}

/* =============PASTIES SECTION================ */
.pasties-section {
  display: flex;
  padding: 0 !important;
  height: 100vh;
}

@media screen and (max-width: 991px) {
  .pasties-section {
    flex-wrap: wrap-reverse;
    height: fit-content !important;
  }
  .pasties-image {
    width: 100% !important;

    img {
      width: 100% !important;
    }
  }

  .pasties-inner-container {
    width: 100% !important;
  }
}

.pasties-image {
  width: 50%;
}

.pasties-section img {
  width: 100%;
  height: 100%;
}
.pasties-inner-container {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: white;
  padding: 20px;
  width: 50%;
}

.pasties-inner-container h2 {
  font-size: 4rem;
}

/* =============BREADS SECTION================ */

.breads-container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 50px;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .breads-container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .breads-container-grid {
    grid-template-columns: 1fr;
  }

  .breads-card {
    width: 100% !important;
  }
}

.breads-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.breads-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.breads-card .bread-desc {
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.breads-container-2 {
  width: 70%;
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.breads-container-2 h2 {
  margin-bottom: 3rem;
  font-size: 4rem !important;
}

.breads-container-2 img {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .breads-container-2 {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.breads-container-3 {
  width: 70%;
  margin: auto;
  margin-top: 30px;
}

.breads-container-3 h2 {
  margin-bottom: 20px;
  font-size: 1.9rem;
}

.breads-container-3 p {
  line-height: 2rem;
}

@media screen and (max-width: 575px) {
  .breads-container-3 {
    width: 100%;
  }

  .breads-container-2 h2 {
    font-size: 3rem !important;
  }
}

/* ================MENU SECTION================ */
.menu-section {
  background-image: url(./images/background-image-5.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-container-wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 991px) {
  .menu-container-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 575px) {
  .menu-container-wrapper {
    grid-template-columns: 1fr;
  }
  .menu-card {
    height: auto !important;
  }
}

.menu-card {
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 2rem;
  height: 300px;

  h2 {
    margin-bottom: 1rem;
  }

  ul li {
    font-size: 1.5rem;
    font-weight: 100;
  }
}

/* =============FRESHLY BAKED=========== */
.fresh_baked_section {
  background-color: #f6f6f8;
}
.fresh_baked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fresh_baked h3 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}

.fresh_baked img {
  width: 100%;
  object-fit: cover;
}

/* =============CONTACT US=================== */
.contact_section {
  background-image: url(./images/background-image-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.contact_wrapper {
  background-color: #1a1a1a;
  color: white;
  padding: 2rem;
  max-width: 500px;
  text-align: center;
  border-radius: 2rem;
}

.contact_wrapper h3 {
  color: #f2952d;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.contact_wrapper p {
  margin-bottom: 2rem;
  font-size: 1.125rem;
}
